/* 
H1-----------
font-family: bradley-djr, sans-serif;
font-weight: 400;
font-style: normal;
*/

/*
Body
normal-----------
font-family: articulat-cf, sans-serif;
font-weight: 400;
font-style: normal;

demi bold------------
font-family: articulat-cf, sans-serif;
font-weight: 700;
font-style: normal;
*/


@import url("https://use.typekit.net/elh2rsd.css");


body{
    background-color: pink;
    font-family: articulat-cf, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 0;
}

h1{
    font-family: bradley-djr, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    margin-left: 10px;
    color: white;
    margin-top: 1%;
    margin-left: 4%;
    float: left;
}

nav ul {
    list-style-type: none;
    text-align: right;    
    float: right;
    margin-right: 4%;
    margin-top: 2%;
}

nav ul li {
    display: block;
    font-size: 25px;
    margin-right: 5%;
}

a {
    text-decoration: none;
    color: white;
}


h2{
    color: white;
    font-size: 35px;
    padding-left: 0;
    padding-top: 12%;
    margin-left: 10%;
    margin-bottom: 5%;
}

form{
    margin-left: 10%;
}
form label {
    font-size: 20px;
}

form input {
    border-radius: 25px;
    width: 440px ;
    height: 25px;
    border: none;
    background-color: rgba(205, 89, 110, 0.552);
    margin-top: 25px;
    color: white;
}

#firstname {
    margin-right: 53px;
}
#email {
    margin-right: 20px;
}

#message {
    width: 600px;
    height: 200px;
}

::placeholder{
    font-size: 15px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.586);
    font-weight: 600;
    font-style: italic;
}

input[type=submit]{
    color: white;
    font-size: 18px;
    height: 40px;
    width: 200px;
    margin-bottom: 20%;
    font-weight: 700;
 }

 input[type=text]{
    padding-left: 20px;
 }


.margin {
    margin-left: 10%;
}
#underlined {
    text-decoration: underline;
    font-size: 20px;
}



 /* FOOTER */
#footer {
    background-color: lightblue;
    margin-top: 30%;
    height: 80px;
}

#footertext {
    margin-left: 5%;
    padding-top: 12px;
    float: left;
}

.footernav{
    display: inline;   
    list-style-type: none;
    float: right;
    margin-right: 2%;
    margin-top: 30px;
} 

