/* 
H1-----------
font-family: bradley-djr, sans-serif;
font-weight: 400;
font-style: normal;
*/

/*
Body
normal-----------
font-family: articulat-cf, sans-serif;
font-weight: 400;
font-style: normal;

demi bold------------
font-family: articulat-cf, sans-serif;
font-weight: 700;
font-style: normal;
*/


@import url("https://use.typekit.net/elh2rsd.css");


body{
    background-color: white;
    font-family: articulat-cf, sans-serif;
    color: white;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 0;
}

h1{
    font-family: bradley-djr, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    margin-left: 10px;
    color: pink;
    margin-top: 1%;
    margin-left: 4%;
    float: left;
}

/* under contruction styles */
nav ul {
    list-style-type: none;
    text-align: right;    
    float: right;
    margin-right: 4%;
    margin-top: 2%;
}

#oops {
    font-size: 35px;
    color: pink;
    padding-top: 15%;
    padding-left: 10%;
}
#goto {
    color: pink;
    padding-left: 10%;
    font-size: 25px;
}
#behance {
    text-decoration: underline;
}

/* under contruction styles */



nav ul li {
    font-size: 25px;
    margin-right: 5%;
}

a {
    text-decoration: none;
    color: pink;
}

#titles {
    padding-top: 20%;
    padding-bottom: 20%;
}

h2{
    color: white;
    background-color: rgb(136, 181, 196);
    font-size: 17px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#leftsection {
    width: 400px;
    height: 100px;
    float: left;
    margin-left: 10%;

}
#middlesection {
    width: 400px;
    height: 100px;
    float: left;
    /* margin-right: 8%; */
    margin-left: 14%;
    margin-bottom: 10%;
}
#rightsection {
    width: 400px;
    height: 100px;
    float: right;
    margin-right: 10%;
}

.spacing {
    margin-bottom: 20px;
}



/* FOOTER */
#footer {
    background-color: lightblue;
    margin-top: 30%;
    height: 80px;
}

#footertext {
    margin-left: 10%;
    padding-top: 12px;
    float: left;
}

.footernav{
    display: inline;   
    list-style-type: none;
    float: right;
    margin-left: 5%;
    margin-top: 30px;
} 

#contact {
    margin-right: 5%;
}

